/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "tailwindcss-primeui";

.custom-toast .p-toast-message-content {
    padding: 2rem !important;
    align-items: center;
}

.custom-toast .p-toast-message-icon {
    font-size: 1.5rem !important;
}

.custom-toast .p-toast-summary {
    font-size: 1.1rem !important;
}

@media screen and (max-width: 768px) {
    .custom-toast {
        width: 90vw !important;
        left: 5vw !important;
    }

    .custom-toast .p-toast-message-content {
        padding: 1rem !important;
    }

    .custom-toast .p-toast-message-icon {
        font-size: 1.1rem !important;
    }

    .custom-toast .p-toast-summary {
        font-size: 1rem !important;
    }
}